/*  Página inteira  */
body{
    background: linear-gradient(0deg, rgba(255, 255, 255) 18%, rgba(248,172,5,1) 85%, rgba(248,90,5,1) 92%);
    font-family: 'Comfortaa';
    color: black;
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 15px;
}
/*  Guia da página  */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.logo-goku{
    width: 70px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: black;
}
ul a:hover{
    color: white;
    transition: 0.3s all;
}
#btn-login{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
#btn-login:hover{
    border-color: white;
    color: white;
}
/*  Conteúdo da página  */
.conteudo{
    padding: 32px;
    border-top: 0.4px solid /*#FFF*/;
}
.gkn{
    width: 420px;
    position: absolute;
    left: 920px;
    top: 190px;
}
.sfer-1{
    position: absolute;
    height: 30px;
    left: 1090px;
    top: 222px;
}
.sfer-2{
    position: absolute;
    height: 22px;
    left: 1000px;
    top: 299px;
}
.sfer-3{
    position: absolute;
    height: 25px;
    left: 1039px;
    top: 239px;
}
.sfer-4{
    position: absolute;
    height: 35px;
    left: 1077px;
    top: 290px;
}
.sfer-5{
    position: absolute;
    height: 35px;
    left: 1001px;
    top: 390px;
}
.sfer-6{
    position: absolute;
    height: 21px;
    left: 1090px;
    top: 380px;
}
.sfer-7{
    position: absolute;
    height: 30px;
    left: 1086px;
    top: 417px;
}
.cont-p-t{
    font-size: 64px;
    /* color: #FFF2E7;  */
    margin-top: 100px;
}
.cont-p-tx {
    line-height: 30px;
    max-width: 900px;
    position: absolute;
    top: 320px;
    left: 40px;
}
.cap-db{
    position: relative;
    padding-top: 100px;
    padding-left: 40px;
}
/*  Campo de seleção de capíyulos   */
.grupo-cap select{
    border-radius: 5px;
    padding: 0px 30px;
    border-color: black;
    background-color: transparent;
    outline: none;
    height: 30px;
    width: 370px;
    font-size: 20px;
    font-family: "Comfortaa";
}
select:hover{
    border-color: white;
}
/*  Campo de cadastro   */
#jts{
    position: absolute;
    top: 90%;
    left: 600px;
}
.gk-so{
    position: relative;
    margin-top: 120px;
    margin-left: 690px;
    margin-bottom: 50px;
}
#grup-login{
    /* display: inline-block; */
    position: absolute;
    top: 720px;
    left: 200px;
    color: black;
    font-weight: bold;
}
.formulario h1{
    font-size: 2.7em;
    /* text-align: center; */
}
fieldset{
    padding: 5px 55px;
    border-radius: 10px;
    border-color: black;
}
.formulario .name, .em, .num{
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Comfortaa';
    width: 200px;
    margin: 23px 1px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    background-color: transparent;
    outline: none;
}
#grup-login .form-btn{
    font-family: "Comfortaa";
    font-weight: bolder;
    position: relative;
    margin-left: 1px;
    border-width: 1px;
    border-radius: 10px;
    height: 60px;
    width: 259px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
}
#grup-login .form-btn:hover{
    background-color: wheat;
    transition: 0.5s all;
}
fieldset a:hover{
    color: #535353;
}
.cnt{
    margin-bottom: 30px;
    text-align: center;
}
input::placeholder{
    color: #535353;
}
/*  Rodapé  */
#footer{
    text-align: center;
    color: black;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    /* top: 50px; */
    padding: 30px;
    border-top: 0.4px solid;
}
#footer span{
    font-weight: bold;
}
#footer h1, span{
    color: #5d5d5d;
}
